body{
    background-color: #7a4c81;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 1.5em;
    color:#747474;
  }
  
  #entete, #regles, #aire_de_jeu, #visu, #reponse, #menu, #pied_de_page{
    border:2px solid #302535;
    background-color: white;
    background-image: url(https://static.hitek.fr/img/up_m/1058971286/fondsecransstarwarsvisioconference29.jpg);
    border-radius: 10px;
  }

  .aTrouver{
    font-size: 2.5em;
  }

  body{
    padding: 2em;
  }

  div{
    margin: 1em;
    text-align: center;
  }

  h1{
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  li{
    list-style-type: none;
    margin: 1em;
  }
  
  :link{
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
  }

  #page{
    width:80%;
    margin:auto;
    display:flex;
    flex-direction: column;
}

  input {
    margin: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  button {
    border:2px solid #00000000;
    background-color: #f9674d;
    color: #ffffff;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    margin: 1em;
    font-weight: bold;
    text-transform: uppercase;

  }